<h1> <%= link_to @story.title, @story.url %> </h1>

<p> <%= simple_format @story.body %> </p>

<small> By <%= @story.author %> </small>

<small> about <%= time_ago_in_words @story.created_at %> ago. </small>	

<small>  Votes: <%= @votes.count %> </small>

<%= link_to "Edit", edit_story_path(@story) %>	
<%= link_to "Add a Comment", new_story_comment_path(@story) %>	

<% @story.comments.each do |comment| %>

	<p> <%= simple_format comment.body %> </p>

<% end %>