<!DOCTYPE html>
<html>
<head>
  <title>Stack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		<%= link_to "Top", root_path(sort: "top") %>
		<%= link_to "Recent", root_path(sort: "recent") %>
		<%= link_to "Featured", root_path(is_featured: true) %>
		<%= link_to "Add A Story", new_story_path %>
	</nav>



</header>

<article>

	<% flash.each do |key, value| %>

		<div class="<%= key %>">
			<p><%= value %></p>
		</div>

	<% end %>

<%= yield %>
</article>

</body>
</html>
